<h2>Diaries</h2>
<div class="end_link"><%= link_to 'Create New Diary', new_diary_path %></div>

<div class="results">
<%= render 'diaries' %>
</div>

<br />

<div class="end_link"><%= link_to 'Create New Diary', new_diary_path %></div>
