<% if signed_in? %>

	<table class="front" summary="For signed-in users">
		<tr>
			<td class="main">
				<h1 class="micropost">Welcome User</h1>
				<%= render 'shared/micropost_form' %>
			</td>
		</tr>
	</table>			

<% else %>

<h1>Properties Manage Themselves</h1>

<%= link_to "Sign in", sessions_path, :class => "signup_button round" %>

<% end %>